{% extends 'default.html.twig' %}

{% block body %}
    <div class="card form-row" xmlns="http://www.w3.org/1999/html">
        <div class="card-body ">
            <h3 class="card-subtitle mb-2 text-muted">Ajout d'un contact</h3>
            <div style="display: none" class="alert alert-primary" id="alert" role="alert">
                <span id="nameStatus"></span></br>
            </div>
            {% if error %}
                <div  class="alert alert-danger" >
                    Problème lors de la création du contact
                </div>
            {% endif %}
            <form method="post" action="" autocomplete="off">
                <div class="card-body">
                    <div id="contact" class="row">
                        <div class="form-group  col-md-6">
                            <div class="form-group row">
                                <label class="control-label col-sm-2">Nom</label>
                                <input type="text" name="nom" id="nom" onchange="this.value = this.value.charAt(0).toUpperCase() + this.value.substr(1);" placeholder="Saisir votre nom"
                                       class="form-control col-sm-10 capitalize" />
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <div class="form-group row">
                                <label class="control-label col-sm-2">Prenom</label>
                                <input type="text" name="prenom" id="prenom" onchange="this.value = this.value.charAt(0).toUpperCase() + this.value.substr(1);" placeholder="Saisir votre prénom"
                                       class="form-control col-sm-10 capitalize" autocomplete="off"/>
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            <div class="form-group row">
                                <label class="control-label col-sm-2">Email</label>
                                <input type="text" id="email" name="email" placeholder="Saisir votre Email"
                                       class="form-control col-sm-10" autocomplete="off" onkeyup="this.value = this.value.toLowerCase();"/>
                            </div>
                        </div>
                        <div class="form-group  col-md-6">
                            <div class="col-md-12 row">
                                <span id="checkEmail" class="btn btn-info col-md-2">valider</span >
                                <div id="stateEmail" class="col-md-10">
                                    <div style="display: none" class="progress" id="progress">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning " role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
                                    </div>
                                    <div style="display: none"  id="success" class="text-success"> Email valide</div>
                                    <div style="display: none"  id="error" class="text-danger"> Email invalide</div>
                                </div>
                            </div>

                        </div>
                        <div class="form-group col-md-6"></div>

                    </div>


                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-right">
                            <button class="btn btn-info" type="submit">Envoyer</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

